WWTExplorer3d/Web References/us.geocoder/GeoCoder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://rpc.geocoder.us/Geo/Coder/US/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="GeoCoder" targetNamespace="http://rpc.geocoder.us/Geo/Coder/US/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://rpc.geocoder.us/Geo/Coder/US/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOfGeocoderResult">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:GeocoderResult[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GeocoderResult">
        <xsd:all>
          <xsd:element name="zip" type="xsd:int" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="lat" type="xsd:float" />
          <xsd:element name="long" type="xsd:float" />
          <xsd:element name="number" type="xsd:int" />
          <xsd:element name="suffix" type="xsd:string" />
          <xsd:element name="prefix" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="street" type="xsd:string" />
          <xsd:element name="suffix1" type="xsd:string" />
          <xsd:element name="prefix1" type="xsd:string" />
          <xsd:element name="type1" type="xsd:string" />
          <xsd:element name="street1" type="xsd:string" />
          <xsd:element name="suffix2" type="xsd:string" />
          <xsd:element name="prefix2" type="xsd:string" />
          <xsd:element name="type2" type="xsd:string" />
          <xsd:element name="street2" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGeocoderAddressResult">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:GeocoderAddressResult[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GeocoderAddressResult">
        <xsd:all>
          <xsd:element name="number" type="xsd:int" />
          <xsd:element name="zip" type="xsd:int" />
          <xsd:element name="suffix" type="xsd:string" />
          <xsd:element name="prefix" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="street" type="xsd:string" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="lat" type="xsd:float" />
          <xsd:element name="long" type="xsd:float" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGeocoderIntersectionResult">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:GeocoderIntersectionResult[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GeocoderIntersectionResult">
        <xsd:all>
          <xsd:element name="zip" type="xsd:int" />
          <xsd:element name="suffix1" type="xsd:string" />
          <xsd:element name="prefix1" type="xsd:string" />
          <xsd:element name="type1" type="xsd:string" />
          <xsd:element name="street1" type="xsd:string" />
          <xsd:element name="suffix2" type="xsd:string" />
          <xsd:element name="prefix2" type="xsd:string" />
          <xsd:element name="type2" type="xsd:string" />
          <xsd:element name="street2" type="xsd:string" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="lat" type="xsd:float" />
          <xsd:element name="long" type="xsd:float" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="geocodeRequest">
    <wsdl:part name="location" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="geocodeResponse">
    <wsdl:part name="results" type="tns:ArrayOfGeocoderResult" />
  </wsdl:message>
  <wsdl:message name="geocodeAddressRequest">
    <wsdl:part name="address" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="geocodeAddressResponse">
    <wsdl:part name="results" type="tns:ArrayOfGeocoderAddressResult" />
  </wsdl:message>
  <wsdl:message name="geocodeIntersectionRequest">
    <wsdl:part name="intersection" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="geocodeIntersectionResponse">
    <wsdl:part name="results" type="tns:ArrayOfGeocoderIntersectionResult" />
  </wsdl:message>
  <wsdl:portType name="GeoCode_PortType">
    <wsdl:operation name="geocode">
      <wsdl:input message="tns:geocodeRequest" />
      <wsdl:output message="tns:geocodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="geocode_address">
      <wsdl:input message="tns:geocodeAddressRequest" />
      <wsdl:output message="tns:geocodeAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="geocode_intersection">
      <wsdl:input message="tns:geocodeIntersectionRequest" />
      <wsdl:output message="tns:geocodeIntersectionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeoCode_Binding" type="tns:GeoCode_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="geocode">
      <soap:operation soapAction="http://rpc.geocoder.us/Geo/Coder/US#geocode" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://rpc.geocoder.us/Geo/Coder/US/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://rpc.geocoder.us/Geo/Coder/US/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geocode_address">
      <soap:operation soapAction="http://rpc.geocoder.us/Geo/Coder/US#geocode_address" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://rpc.geocoder.us/Geo/Coder/US/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://rpc.geocoder.us/Geo/Coder/US/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geocode_intersection">
      <soap:operation soapAction="http://rpc.geocoder.us/Geo/Coder/US#geocode_intersection" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://rpc.geocoder.us/Geo/Coder/US/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://rpc.geocoder.us/Geo/Coder/US/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeoCode_Service">
    <documentation>WSDL File for Geo Coder - Written by Scott Gunn (scott_gunn*AT*email.com)</documentation>
    <wsdl:port name="GeoCode_Port" binding="tns:GeoCode_Binding">
      <soap:address location="http://rpc.geocoder.us/service/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>